<?xml version="1.0" encoding="utf-8"?>
<configuration>
 

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>

    <!-- namespaces and assemblies -->

    <assembly name="FlickrStream.Logger.Interfaces" />
    <assembly name="FlickrStream.Logger" />
    <assembly name="log4net"/>
    <assembly name="FlickrStream"/>
    <assembly name="FlickrStream.Infrastructure.Interfaces"/>
    <assembly name="FlickrStream.Infrastructure"/>
    <assembly name="FlickrGateway"/>
    
    <namespace name="FlickrStream.Logger.Interfaces" />
    <namespace name="FlickrStream.Logger" />
    <namespace name="log4net" />
    <namespace name="FlickrStream.ViewModels" />
    <namespace name="FlickrStream.Infrastructure.Interfaces" />
    <namespace name="FlickrStream.Infrastructure" />
    <namespace name="FlickrGateway" />


    <container>
      <register type="ILogger" mapTo="FlickrStream.Logger.Logger, FlickrStream.Logger">
        <constructor>
          <param name="log4netInstance" type="ILog" />
        </constructor>
        <lifetime type="singleton" />
      </register>

        <register type="IDispatcher" mapTo="FlickrStream.Infrastructure.ApplicationDispatcher, FlickrStream.Infrastructure">
          <lifetime type="singleton" />
        </register>

      <register type="IDeserializer" mapTo="FlickrStream.Infrastructure.JsonDeserializer, FlickrStream.Infrastructure">
        <constructor>
          <param name="loggerInstance" type="ILogger" />
        </constructor>
        <lifetime type="singleton" />
      </register>

      <register type="IPhotoStreamBridge" mapTo="FlickrStream.Infrastructure.PhotoStreamBridge, FlickrStream.Infrastructure">
        <constructor>
          <param name="publicFeedServiceHandlerInstance" type="IPublicFeedServiceHandler" />
          <param name="deserializerInstance" type="IDeserializer" />
          <param name="loggerInstance" type="ILogger" />
        </constructor>
        <lifetime type="singleton" />
      </register>

      <register type="IPublicFeedServiceHandler" mapTo="FlickrGateway.PublicFeedServiceHandler, FlickrGateway">
        <constructor>
          <param name="loggerInstance" type="ILogger" />
        </constructor>
        <lifetime type="singleton" />
      </register>

      <register type="IPhotoViewModel" mapTo="FlickrStream.ViewModels.PhotoViewModel, FlickrStream">
        <constructor>
          <param name="photoStreamAdapterInstance" type="IPhotoStreamBridge" />
          <param name="dispatcherInstance" type="IDispatcher" />
          <param name="loggerInstance" type="ILogger" />
        </constructor>
        <lifetime type="singleton" />
      </register>
    </container>
    
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>